<div class="col-md-12 events">
  <div class="col-md-12 calendar-content">
    <div class="white-background">
      <div class="title center">
        <h1>Event list</h1>
      </div>
      <div>
        <div class="calendar" id="calendar"></div>
      </div>
    </div>
  </div>
</div>
