<nav id="nav-container" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div id="logo" class="col-md-10">
    <a class="col-md-3 page-scroll pull-left" href="#search_section">BIKE & BED</a>
    <div class="col-md-5">
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
    </div>
    <div class="pull-right title">
      <span class="brand-heading"><%= user_signed_in? ? "Welcome #{@user.username}!" : "Welcome!" %></span>
    </div>
  </div>

  <div class="container">
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
      </ul>
    </div>
  </div>

  <%= render 'layouts/sidebar'%>
</nav>
